<?xml version="1.0" encoding="UTF-8"?>
<!--

    Solo - A small and beautiful blogging system written in Java.
    Copyright (c) 2010-2018, b3log.org & hacpai.com

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

-->
<!--
    Description: Solo web deployment descriptor for testing.
    Version: 1.0.5.2, Mar 11, 2018
    Author: Liang Ding
-->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>org.b3log.solo.SoloServletListener</listener-class>
    </listener>

    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>org.b3log.latke.servlet.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>responseEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>org.b3log.solo.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/admin-index.do</url-pattern>
        <url-pattern>/admin-main.do</url-pattern>
        <url-pattern>/admin-article.do</url-pattern>
        <url-pattern>/admin-article-list.do</url-pattern>
        <url-pattern>/admin-comment-list.do</url-pattern>
        <url-pattern>/admin-link-list.do</url-pattern>
        <url-pattern>/admin-preference.do</url-pattern>
        <url-pattern>/admin-page-list.do</url-pattern>
        <url-pattern>/admin-others.do</url-pattern>
        <url-pattern>/admin-draft-list.do</url-pattern>
        <url-pattern>/admin-user-list.do</url-pattern>
        <url-pattern>/admin-plugin-list.do</url-pattern>
        <url-pattern>/admin-about.do</url-pattern>
        <url-pattern>/fix/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>PermalinkFilter</filter-name>
        <filter-class>org.b3log.solo.filter.PermalinkFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PermalinkFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>InitCheckFilter</filter-name>
        <filter-class>org.b3log.solo.filter.InitCheckFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>InitCheckFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>

    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.b3log.latke.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.html</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error/403.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.html</location>
    </error-page>

</web-app>
