language: java
jdk:
  - openjdk11

install:
  - mvn clean install -DskipTests=true -Dmaven.javadoc.skip=true -B -V -Pci
after_success:
  - mvn clean test jacoco:report coveralls:report -Pci

cache:
  directories:
  - $HOME/.m2
