<?xml version="1.0" encoding="UTF-8"?>
<!--

    Solo - A small and beautiful blogging system written in Java.
    Copyright (c) 2010-present, b3log.org

    Solo is licensed under Mulan PSL v2.
    You can use this software according to the terms and conditions of the Mulan PSL v2.
    You may obtain a copy of Mulan PSL v2 at:
            http://license.coscl.org.cn/MulanPSL2
    THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT, MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
    See the Mulan PSL v2 for more details.

-->
<!--
    Description: log4j2 configuration.
    Version: 1.0.0.0, Jan 16, 2020
    Author: Liang Ding
-->
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>[%-5p]-[%d{yyyy-MM-dd HH:mm:ss}]-[%c:%L]: %m%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="Info">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="org.b3log.solo" level="Info"/>
        <Logger name="org.b3log.latke" level="Warn"/>
        <Logger name="org.b3log.latke.util.freemarker.Templates" level="Error"/>
        <Logger name="org.b3log.latke.repository.jdbc.util" level="WARN"/>
        <Logger name="org.b3log.latke.util.Crypts" level="Error"/>
        <Logger name="io.netty" level="Warn"/>
        <Logger name="freemarker" level="Warn"/>
        <Logger name="com.zaxxer" level="Warn"/>

    </Loggers>
</Configuration>