@charset "utf-8";
/*
 * skin classic style
 *
 * @author <a href="mailto:LLY219@gmail.com">Liyuan Li</a>
 * @author <a href="mailto:DL88250@gmail.com">Liang Ding</a>
 * @version 1.0.1.3, May 15, 2012
*/
a, a:link {
    color: #0000CC;
}
a:active {
    color: red;
}
a:visited {
    color: #551A8B;
}
h5 {
    font-size: 12px;
}
.content {
    margin: 0 auto;
    max-width: 1250px;
    padding: 0 12px;
}
.header {
    height: 108px;
}
.sub-title {
    font-size: 14px;
    font-weight: normal;
}
.side {
    border-left: 2px solid #E5ECF9;
    padding-left: 12px;
    width: 280px;
}
.main {
    margin-right: -294px;
    width: 100%;
}
.main>div {
    min-width: 280px;
    padding-right: 318px;
}
#logoTitle {
    font-family: "Microsoft YaHei";
    font-size: 32px;
    line-height: 64px;
    text-decoration: none;
}
#statistic span {
    font-size: 11px;
}
.article, .comments {
    padding-bottom: 24px;
}
.article-title {
    background-color: #E3E3FF;
    border-top: 1px solid #3366CC;
    margin-left: 91px;
    padding: 3px 0 6px 12px;
}
.article-title sup {
    font-size: 12px;
}
.article-date {
    background-color: #E3E3FF;
    border: 1px solid #BBCCFF;
    float: left;
    margin: 0 12px 12px 0;
    border-radius: 5px;
    padding: 7px 3px;
    width: 70px;
    text-align: center;
    word-break: break-all;
}
.article-abstract {
    word-wrap: break-word;
}
.article-body {
    margin-left: 12px;
    line-height: 145%;
}
.article-footer {
    margin-right: 12px;
}
.article-footer a, .article-details-footer a {
    text-decoration: none;
}
.article-details-footer {
    margin: 36px 12px 0 0;
}
.article-relative {
    line-height: 22px;
    margin-top: 24px;
}
.comments {
    position: relative;
}
.comment-title {
    background-color: #E3E3FF;
    border-top: 1px solid #3366CC;
    padding: 3px 12px 3px 12px;
}
.comment-body-ref {
    background-color: #FFFFFF;
    border: 1px solid #E3E3FF;
    filter: alpha(opacity=90);
    left: 88px;
    opacity: 0.9;
    position: absolute;
    top: 27px;
    width: 87%;
    z-index: 10;
}
.comment-body-ref .comment-title {
    border-top: 0px;
}
.comment-body {
    padding: 9px 12px 12px;
    word-wrap: break-word;
    overflow: hidden;
}
.comment-picture {
    margin-right: 12px;
}
.comment-picture img {
    height: 60px;
    width: 60px;
}
.comment-reply {
    margin: 0 auto 24px auto;
}
.comment-content {
    float: left;
    width: 88%;
}

#commentURL:focus, #commentURLReply:focus {
    box-shadow: -3px 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.error-msg {
    color: #3366CC;
}
.error-footer {
    bottom: 0px;
    position: fixed;
    width: 82%;
}
#sideNavi a.selected {
    color: #000000;
    text-decoration: none;
}
.side-navi ul {
    list-style: none;
}
#sideNavi li {
    line-height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#sideNavi li.aboutMe, #sideNavi li.side-navi-notice {
    white-space: normal;
}
#sideNavi sup {
    margin-right: 3px;
    color: green;
}
.side-comment {
    text-decoration: none;
}
#recentComments p {
    display: inline;
}
#recentComments div, #recentComments br {
    display: none;
}
.line {
    border-top: thin dotted #BBBBBB;
    margin-top: 12px;
    padding-top: 12px;
}
.pagination {
    margin: 16px;
    text-align: center;
}
.pagination a, .pagination a:visited {
    color: #4272DB;
    padding: 0 3px;
    text-decoration: none;
}
.pagination a.selected {
    color: #000000;
    font-weight: bold;
}
#tagsPanel .tagPanel {
    border: 2px solid;
    cursor: pointer;
    float: left;
    margin: 3px;
    border-radius: 6px;
}
#tagsPanel .tagPanel:hover {
    background-color: #EEEEEE;
    border: 2px dashed;
}
#tagsPanel .tagPanel {
    text-decoration: none;
}
.error-title {    
    border-top: 1px solid #3366CC;
    background-color: #E5ECF9;
    margin-left: 12px;
    padding: 6px 12px;
}
.error-panel {
    margin-left: 12px;
    padding: 24px;
}
.commentIcon, .browserIcon {
    background-image: url("../../../images/icon.png");
    cursor: pointer;
    height: 16px;
    margin-right: 3px;
    width: 16px;
}
.commentIcon {
    background-position: -32px -16px;
}
.browserIcon {
    background-position: -128px -16px;
}
.goTopIcon {
    background-position: -128px -32px;
}
.goBottomIcon {
    background-position: -144px -32px;
}
.footer {
    text-align: center;
    margin: 30px 0 30px 0;
}